@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "UserWelcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>User Welcome Page</h2>
@section Scripts{
<script src="~/Scripts/userPage.js"></script>
    }

